@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  @apply bg-black text-white antialiased;
}
